html,
body {

  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  background-color: #303030;
  box-sizing: border-box;
}

input, select{
  background: #3C3939;
  height: 35px;
  margin-bottom: 15px;
}

table, td, tr, th{
  border: 2px solid #FFF;
  border-collapse: collapse;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
