.container{
  background-color: #303030;
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: left;
  color: rgba(245, 148, 123, 0.64);
}

.main{
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.signup{
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  background: #00FF5F;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}

.common{
  background-color: #303030;
}

.link{
  background-color: #303030;
  color: rgba(83, 101, 192, 0.94);
}

.boxes{
  padding-left: 8px;
  border-radius: 8px;
  background-color: #3C3939;
  border-left: 1px;
  border-right: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.4);
  border-left-color: rgba(0, 0, 0, 0.22);
  border-right-color: rgba(0, 0, 0, 0.22);
}